In [1]:
import pandas as pd

In [3]:
data = {
    '私の労働時間' : [160, 160], # 私の労働時間列の作成
    
    '上司の労働時間' : [161, 175] #上司の労働時間列の作成
    
}

df = pd.DataFrame(data)
df # dfの表示

   私の労働時間  上司の労働時間
0     160      161
1     160      175

In [4]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [15]:
df.index = ['4月', '5月'] # dfのインデックスを変更

df #　表示

    私の労働時間  上司の労働時間
4月     160      161
5月     160      175

In [16]:
df.columns = ['私の労働(h)', '上司の労働(h)']

df

    私の労働(h)  上司の労働(h)
4月      160       161
5月      160       175

In [18]:
print(df.index)
print(df.columns)

Index(['4月', '5月'], dtype='object')
Index(['私の労働(h)', '上司の労働(h)'], dtype='object')

In [21]:
data = [
    [160, 161],
    [160, 175]
]

df2 = pd.DataFrame(data, index = ['4月', '5月'], columns = ['平木の労働', '佐藤の労働'])

df2

    平木の労働  佐藤の労働
4月    160    161
5月    160    175