In [1]:
import pandas as pd

In [3]:
data = {
    '私の労働時間' : [160, 160], # 私の労働時間列の作成
    
    '上司の労働時間' : [161, 175] #上司の労働時間列の作成
    
}

df = pd.DataFrame(data)
df # dfの表示

   私の労働時間  上司の労働時間
0     160      161
1     160      175

In [4]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [15]:
df.index = ['4月', '5月'] # dfのインデックスを変更

df #　表示

    私の労働時間  上司の労働時間
4月     160      161
5月     160      175

In [16]:
df.columns = ['私の労働(h)', '上司の労働(h)']

df

    私の労働(h)  上司の労働(h)
4月      160       161
5月      160       175

In [18]:
print(df.index)
print(df.columns)

Index(['4月', '5月'], dtype='object')
Index(['私の労働(h)', '上司の労働(h)'], dtype='object')

In [21]:
data = [
    [160, 161],
    [160, 175]
]

df2 = pd.DataFrame(data, index = ['4月', '5月'], columns = ['平木の労働', '佐藤の労働'])

df2

    平木の労働  佐藤の労働
4月    160    161
5月    160    175

In [25]:
df = pd.read_csv('/Users/hirakitakanori/Downloads/sukkiri-ml-codes/datafiles/KvsT.csv')
df.head(7)
df

     身長  体重  年代    派閥
0   170  60  10   きのこ
1   172  65  20   きのこ
2   170  60  30  たけのこ
3   170  65  40   きのこ
4   177  65  10  たけのこ
5   168  55  20   きのこ
6   169  65  30  たけのこ
7   170  62  40  たけのこ
8   180  70  10  たけのこ
9   170  68  20   きのこ
10  165  65  40  たけのこ
11  170  72  20   きのこ
12  175  77  40  たけのこ
13  170  65  30  たけのこ
14  170  65  30  たけのこ
15  155  56  20   きのこ
16  160  56  20  たけのこ
17  170  65  40   きのこ
18  175  60  20  たけのこ

In [27]:
df.tail(5)

     身長  体重  年代    派閥
14  170  65  30  たけのこ
15  155  56  20   きのこ
16  160  56  20  たけのこ
17  170  65  40   きのこ
18  175  60  20  たけのこ

In [28]:
df['身長']

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64

In [29]:
col = ['身長', '体重']
df[col]

     身長  体重
0   170  60
1   172  65
2   170  60
3   170  65
4   177  65
5   168  55
6   169  65
7   170  62
8   180  70
9   170  68
10  165  65
11  170  72
12  175  77
13  170  65
14  170  65
15  155  56
16  160  56
17  170  65
18  175  60

In [30]:
type(df['派閥'])

pandas.core.series.Series

In [31]:
xcol =['身長', '体重', '年代']
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [33]:
t = df['派閥']
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [34]:
from sklearn import tree

In [35]:
model = tree.DecisionTreeClassifier(random_state = 0)
model.fit(x, t)

DecisionTreeClassifier(random_state=0)

In [36]:
taro = [[170, 70, 20]]
model.predict(taro)

/Users/hirakitakanori/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ'], dtype=object)